<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/icon/logo-light.png" height="40px"width="80px" style="background-color: rebeccapurple;">
 
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
      <ion-button>
        <ion-icon name="key-outline"></ion-icon>
        Change Password
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
