<!-- sidebar.component.html -->
<ion-header id="sidebar">
  <ion-toolbar class="sidebar__profile">
    <div class="sidebar__profile-container">
      <ion-avatar slot="start" class="sidebar__profile-avatar">
        <img src="https://via.placeholder.com/64" alt="User Avatar">
      </ion-avatar>
      <span class="sidebar__profile-name">User Name</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding vh-100 sidebar__content">
  <!-- Sidebar menu items -->
  <ion-list lines="none" class="sidebar__content--list">
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/dashboard">
        <ion-icon slot="start" name="home"></ion-icon>
       <span class="ion-menu-toggle_item-content">Dashboard</span> 
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/content">
        <ion-icon name="musical-notes-outline"></ion-icon>
       <span class="ion-menu-toggle_item-content"> Content</span>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/member">
        <ion-icon name="people-outline"></ion-icon>
       <span class="ion-menu-toggle_item-content">Members</span> 
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/data-master">
        <ion-icon name="server-outline"></ion-icon>
      <span class="ion-menu-toggle_item-content"> Datamaster</span> 
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/dsp">
        <ion-icon name="stop-circle-outline"></ion-icon>
      <span class="ion-menu-toggle_item-content">  DSPs</span>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/contracts">
        <ion-icon name="receipt-outline"></ion-icon>
       <span class="ion-menu-toggle_item-content"> Contracts</span>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/payouts">
        <ion-icon name="server-outline"></ion-icon>
       <span class="ion-menu-toggle_item-content">Payouts</span> 
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/stream-reports">
        <ion-icon name="caret-forward-circle-outline"></ion-icon>
        <span class="ion-menu-toggle_item-content">Stream Reports</span>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/streams">
        <ion-icon name="cloud-done-outline"></ion-icon>
       <span class="ion-menu-toggle_item-content">Streams Guzzler </span> 
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/settings">
        <ion-icon slot="start" name="settings"></ion-icon>
        <span class="ion-menu-toggle_item-content">Settings</span>
      </ion-item>
    </ion-menu-toggle>
    
    <!-- Add more sidebar menu items as needed -->
  </ion-list>
</ion-content>
