<!-- sidebar.component.html -->
<ion-header id="sidebar">
  <ion-toolbar class="sidebar__profile">
    <!-- Display a user profile image (replace src with your image URL) -->
    <div class="sidebar__profile-container">
      <ion-avatar slot="start" class="sidebar__profile-avatar">
        <img src="https://via.placeholder.com/64" alt="User Avatar">
      </ion-avatar>
      <!-- Display the user's name -->
      <span class="sidebar__profile-name">User Name</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding vh-100 sidebar__content">
  <!-- Sidebar menu items -->
  <ion-list lines="none">
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/dashboard">
        <ion-icon slot="start" name="home"></ion-icon>
        Dashboard
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon name="musical-notes-outline"></ion-icon>
        Content
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon name="people-outline"></ion-icon>
        Members
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon name="server-outline"></ion-icon>
        Datamaster
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon name="stop-circle-outline"></ion-icon>
        DSPs
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon name="receipt-outline"></ion-icon>
        Contracts
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon name="server-outline"></ion-icon>
        Payouts
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon slot="start" name="person"></ion-icon>
        Stream Reports
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/profile">
        <ion-icon slot="start" name="person"></ion-icon>
        Streams Guzzler 
      </ion-item>
    </ion-menu-toggle>

    <ion-menu-toggle auto-hide="false">
      <ion-item routerLink="/settings">
        <ion-icon slot="start" name="settings"></ion-icon>
        Settings
      </ion-item>
    </ion-menu-toggle>
    
    <!-- Add more sidebar menu items as needed -->
  </ion-list>
</ion-content>
